In [7]:
import pandas as pd
import numpy as np
from pandas import ExcelWriter

In [8]:
df1 = pd.read_excel('researchdata/matchdetails/ODI/ODIDetails(venue,light,toss).xlsx')
df2 = pd.read_excel('researchdata/matchdetails/ODI/ODIBowlFirst.xlsx')

In [23]:
df1.head();

In [9]:
print(df1.head)

<bound method NDFrame.head of               Team  Score  Overs   RPO  Inns Result      Oposition  \
0     South Africa  258/4   45.3  5.67     2    won    v Australia
1        Sri Lanka  290/9   49.1  5.89     2    won  v West Indies
2            Nepal   36/2    5.2  6.75     2    won       v U.S.A.
3     South Africa  256/7   50.0  5.12     1   lost      v England
4            Nepal  249/8   50.0  4.98     1   lost         v Oman
...            ...    ...    ...   ...   ...    ...            ...
2084         India  234/7   50.0  4.68     1   lost      v England
2085         India  187/8   23.0  8.13     1   lost      v England
2086     Australia    211   46.1  4.57     1   lost    v Sri Lanka
2087     Australia  133/5   28.0  4.75     2    won    v Sri Lanka
2088     Australia    208   44.2  4.69     2   lost    v Sri Lanka

             Date      Light Home/Away         Ground  Toss
0      7 Mar 2020        Day      Home  Potchefstroom   Won
1     22 Feb 2020        Day      Home  Colombo (SSC)   Won
2     12 Feb 2020        Day      Home       Kirtipur   Won
3      9 Feb 2020        Day      Home   Johannesburg  Lost
4      9 Feb 2020        Day      Home       Kirtipur  Lost
...           ...        ...       ...            ...   ...
2084   9 Sep 2011  Day/Night      Away       The Oval  Lost
2085   6 Sep 2011  Day/Night      Away    Southampton  Lost
2086  22 Aug 2011  Day/Night      Away  Colombo (RPS)  Lost
2087  20 Aug 2011  Day/Night      Away  Colombo (RPS)  Lost
2088  16 Aug 2011  Day/Night      Away     Hambantota   Won

[2089 rows x 12 columns]>

In [5]:
def report_diff(x):
    return x[0] if x[0] == x[1] else '{} ---> {}'.format(*x)

In [8]:
diff_panel = pd.Panel(dict(df1=df1,df2=df2))

C:\Users\acer\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  """Entry point for launching an IPython kernel.

TypeError: Panel() takes no arguments

In [9]:
diff_panel = pd.Panel(dict(df1=df1,df2=df2))

C:\Users\acer\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  """Entry point for launching an IPython kernel.

TypeError: Panel() takes no arguments

In [32]:
df1[~df1.isin(df2)]

,Team,Score,Overs,RPO,Inns,Result,Oposition,Ground,Date
0,South Africa,258/4,45.3,5.67,NaN,won,NaN,Potchefstroom,7 Mar 2020
1,Sri Lanka,290/9,49.1,5.89,2.0,won,v West Indies,Colombo (SSC),22 Feb 2020
2,Nepal,36/2,5.2,6.75,2.0,NaN,v U.S.A.,Kirtipur,12 Feb 2020
3,NaN,256/7,50.0,5.12,1.0,lost,v England,Johannesburg,9 Feb 2020
4,Nepal,249/8,NaN,4.98,1.0,NaN,v Oman,Kirtipur,9 Feb 2020
...,...,...,...,...,...,...,...,...,...
2075,India,234/7,50.0,4.68,1.0,NaN,v England,The Oval,9 Sep 2011
2076,India,187/8,23.0,8.13,NaN,NaN,v England,Southampton,6 Sep 2011
2077,Australia,211,46.1,4.57,1.0,lost,v Sri Lanka,Colombo (RPS),22 Aug 2011
2078,Australia,133/5,28.0,4.75,2.0,won,v Sri Lanka,Colombo (RPS),20 Aug 2011
2079,Australia,208,44.2,4.69,NaN,lost,v Sri Lanka,Hambantota,16 Aug 2011

In [18]:
cond = df1['Team'].isin(df2['Team'])
df1.drop(df1[cond].index, inplace = True)

KeyError: 'Team'

In [28]:
print(df1.head)

<bound method NDFrame.head of               Team  Score  Overs   RPO  Inns Result      Oposition  \
0     South Africa  258/4   45.3  5.67     2    won    v Australia
1        Sri Lanka  290/9   49.1  5.89     2    won  v West Indies
2            Nepal   36/2    5.2  6.75     2    won       v U.S.A.
3     South Africa  256/7   50.0  5.12     1   lost      v England
4            Nepal  249/8   50.0  4.98     1   lost         v Oman
...            ...    ...    ...   ...   ...    ...            ...
2075         India  234/7   50.0  4.68     1   lost      v England
2076         India  187/8   23.0  8.13     1   lost      v England
2077     Australia    211   46.1  4.57     1   lost    v Sri Lanka
2078     Australia  133/5   28.0  4.75     2    won    v Sri Lanka
2079     Australia    208   44.2  4.69     2   lost    v Sri Lanka

             Ground         Date
0     Potchefstroom   7 Mar 2020
1     Colombo (SSC)  22 Feb 2020
2          Kirtipur  12 Feb 2020
3      Johannesburg   9 Feb 2020
4          Kirtipur   9 Feb 2020
...             ...          ...
2075       The Oval   9 Sep 2011
2076    Southampton   6 Sep 2011
2077  Colombo (RPS)  22 Aug 2011
2078  Colombo (RPS)  20 Aug 2011
2079     Hambantota  16 Aug 2011

[2080 rows x 9 columns]>

In [51]:
def dataframe_difference(df1, df2, which=None):
    """Find rows which are different between two DataFrames."""
    comparison_df = df1.merge(df2,
                              indicator=True,
                              how='outer')
    if which is None:
        diff_df = comparison_df[comparison_df['_merge'] != 'both']
    else:
        diff_df = comparison_df[comparison_df['_merge'] == which]
    diff_df.to_csv('researchdata/test1res.csv')
    return diff_df

In [52]:
dataframe_difference(df1, df2)

,Team,Score,Overs,RPO,Inns,Result,Oposition,Ground,Date,_merge
0,South Africa,258/4,45.3,5.67,2,won,v Australia,Potchefstroom,7 Mar 2020,both
1,Sri Lanka,290/9,49.1,5.89,2,won,v West Indies,Colombo (SSC),22 Feb 2020,both
2,Nepal,36/2,5.2,6.75,2,won,v U.S.A.,Kirtipur,12 Feb 2020,both
3,South Africa,256/7,50.0,5.12,1,lost,v England,Johannesburg,9 Feb 2020,both
4,Nepal,249/8,50.0,4.98,1,lost,v Oman,Kirtipur,9 Feb 2020,both
...,...,...,...,...,...,...,...,...,...,...
2075,India,234/7,50.0,4.68,1,lost,v England,The Oval,9 Sep 2011,both
2076,India,187/8,23.0,8.13,1,lost,v England,Southampton,6 Sep 2011,both
2077,Australia,211,46.1,4.57,1,lost,v Sri Lanka,Colombo (RPS),22 Aug 2011,both
2078,Australia,133/5,28.0,4.75,2,won,v Sri Lanka,Colombo (RPS),20 Aug 2011,both
2079,Australia,208,44.2,4.69,2,lost,v Sri Lanka,Hambantota,16 Aug 2011,both

In [53]:
mergedStuff = pd.merge(df1, df2, on=['Team','Score'], how='inner')
mergedStuff.head()

,Team,Score,Overs_x,RPO_x,Inns_x,Result_x,Oposition_x,Ground_x,Date_x,Overs_y,RPO_y,Inns_y,Result_y,Oposition_y,Ground_y,Date_y
0,South Africa,258/4,45.3,5.67,2,won,v Australia,Potchefstroom,7 Mar 2020,45.3,5.67,2,won,v Australia,Potchefstroom,7 Mar 2020
1,Sri Lanka,290/9,49.1,5.89,2,won,v West Indies,Colombo (SSC),22 Feb 2020,49.1,5.89,2,won,v West Indies,Colombo (SSC),22 Feb 2020
2,Nepal,36/2,5.2,6.75,2,won,v U.S.A.,Kirtipur,12 Feb 2020,5.2,6.75,2,won,v U.S.A.,Kirtipur,12 Feb 2020
3,South Africa,256/7,50.0,5.12,1,lost,v England,Johannesburg,9 Feb 2020,50.0,5.12,1,lost,v England,Johannesburg,9 Feb 2020
4,Nepal,249/8,50.0,4.98,1,lost,v Oman,Kirtipur,9 Feb 2020,50.0,4.98,1,lost,v Oman,Kirtipur,9 Feb 2020

In [10]:
mergedStuff = pd.merge(df1, df2, on=['Team','Score','Overs','RPO','Inns','Result','Oposition','Ground','Date'], how='inner')
print(mergedStuff)

              Team  Score  Overs   RPO  Inns Result      Oposition  \
0     South Africa  258/4   45.3  5.67     2    won    v Australia
1        Sri Lanka  290/9   49.1  5.89     2    won  v West Indies
2            Nepal   36/2    5.2  6.75     2    won       v U.S.A.
3     South Africa  256/7   50.0  5.12     1   lost      v England
4            Nepal  249/8   50.0  4.98     1   lost         v Oman
...            ...    ...    ...   ...   ...    ...            ...
2070         India  234/7   50.0  4.68     1   lost      v England
2071         India  187/8   23.0  8.13     1   lost      v England
2072     Australia    211   46.1  4.57     1   lost    v Sri Lanka
2073     Australia  133/5   28.0  4.75     2    won    v Sri Lanka
2074     Australia    208   44.2  4.69     2   lost    v Sri Lanka

             Date      Light Home/Away         Ground  Toss Bat/Bowl
0      7 Mar 2020        Day      Home  Potchefstroom   Won     Bowl
1     22 Feb 2020        Day      Home  Colombo (SSC)   Won     Bowl
2     12 Feb 2020        Day      Home       Kirtipur   Won     Bowl
3      9 Feb 2020        Day      Home   Johannesburg  Lost      Bat
4      9 Feb 2020        Day      Home       Kirtipur  Lost      Bat
...           ...        ...       ...            ...   ...      ...
2070   9 Sep 2011  Day/Night      Away       The Oval  Lost      Bat
2071   6 Sep 2011  Day/Night      Away    Southampton  Lost      Bat
2072  22 Aug 2011  Day/Night      Away  Colombo (RPS)  Lost      Bat
2073  20 Aug 2011  Day/Night      Away  Colombo (RPS)  Lost     Bowl
2074  16 Aug 2011  Day/Night      Away     Hambantota   Won     Bowl

[2075 rows x 13 columns]

In [60]:
mergedStuff.to_csv('researchdata/test1res.csv')

In [11]:
writer = ExcelWriter('researchdata/test1res.xlsx')
mergedStuff.to_excel(writer,'Sheet',index = False)
writer.save()